# **Data Types and Structures Questions**

In [1]:
# 1) What are data structures, and why are they important ?

# --> Data structure is the place which is used to organize store the data. It is important because it helps in searching, sorting and updating the data.

In [5]:
# 2)  Explain the difference between mutable and immutable data types with examples ?

# --> In mutable data types the values we have entered earlier can be changeable.
#     In immutable data types the values we have entered earlier can't be changeable.

#     For example: mutable data types = list = [1,2,3,4] & dictionaries = {"a":4}
#     Immutable data types = tuples = (1,2,3,4,5) & strings = ("apple")

In [6]:
# 3) What are the main differences between lists and tuples in Python ?

# --> Lists are mutable data types | Tuples are immutable data types
#     List has dynamic data | Tuple has fixed data
#     List syntax is = [1,2,3] | Tuple syntax is = (1,2,3)

In [7]:
# 4) Describe how dictionaries store data.

# --> Dictionaries store data in key-values pair format.

In [8]:
# 5) Why might you use a set instead of a list in Python ?

# --> If I have the fix value that is constant and did'nt need change in it, for example: longitude | latitude, in this situation I might use a set instead of a list. Set also helps to remove duplicate data.

In [9]:
# 6)  What is a string in Python, and how is it different from a list ?

# --> String is a immutable | List is a mutable
#     We cannot modify string | We can modify list
#     list can also include different types of data types.

In [10]:
# 7) How do tuples ensure data integrity in Python ?

# --> Tuples are immutable as the value can't be changed once defined. So this feature of tuple keeps the entered value protect and ensures the safety of data.

In [11]:
# 8) What is a hash table, and how does it relate to dictionaries in Python ?

# --> Hash table is a data structure that keeps the key and the values together. We use it in implementation of python in dictionaries.

In [12]:
# 9) Can lists contain different data types in Python ?

# --> Yes, lists can contain different data types in python. For example: list1 = [1, "apple", 1.4, [2,4]]

In [14]:
# 10) Explain why strings are immutable in Python ?

# --> I think it improves performance and best to ensure thread safety.

In [15]:
# 11) What advantages do dictionaries offer over lists for certain tasks ?

# --> It offers key-values like structure, which helps to store data neatly. This key-value structure helps to track the data very easily.

In [16]:
# 12) Describe a scenario where using a tuple would be preferable over a list ?

# --> I would prefer using tuple when I have a fix value that woudn't require any changes. For example values like: longitude and latitude.

In [17]:
# 13) How do sets handle duplicate values in Python ?

# --> Set automatically erase the duplicate value.
#     For example: set = (1,2,2,3,5,5) --> set = (1,2,3,5)

In [18]:
# 14) How does the “in” keyword work differently for lists and dictionaries ?

# --> In list it checks if the value exist or not.
#     In dictionaries it cheks if the key exist or not.

In [19]:
# 15) Can you modify the elements of a tuple? Explain why or why not ?

# --> No, I could not modify the elements of a tuple because tuple is immutable data type. We can't do any changes once the elements are defined.

In [20]:
# 16) What is a nested dictionary, and give an example of its use case ?

# --> Nested dictionary is dictionary inside a dictionary.
#     For example: dict_1 = {"grp1": {"a":52, "b":36, "c":63}, "grp2": {"d":8, "e":85, "f":96}}

In [21]:
# 17) Describe the time complexity of accessing elements in a dictionary ?

# --> Constant time.

In [22]:
# 18) In what situations are lists preferred over dictionaries ?

# --> When the order of element matters | When we want to sort the data sequentially

In [23]:
# 19)  Why are dictionaries considered unordered, and how does that affect data retrieval ?

# --> Dictionaries considered as unordered because the primary focus is on key-values not on sequence.

In [24]:
# 20)  Explain the difference between a list and a dictionary in terms of data retrieval.

# --> List are accessed by index = --> my_list(0)
#     Dictionaries are accessed by keys = --> my_dict["key"]

# **Practical Questions**

In [26]:
# 1) Write a code to create a string with your name and print it.

name = "Nishant"
print(name)

Nishant

In [29]:
# 2) Write a code to find the length of the string "Hello World".
text = "Hello World"
print(len(text))

11

In [33]:
# 3) Write a code to slice the first 3 characters from the string "Python Programming".
text = "Python Programming"
print(text[0:3])

Pyt

In [41]:
# 4) Write a code to convert the string "hello" to uppercase.
text = "hello"
print(text.upper())

HELLO

In [43]:
# 5) Write a code to replace the word "apple" with "orange" in the string "I like apple".
text = "I like apple"
text.replace("apple", "orange")

'I like orange'

In [45]:
# 6) Write a code to create a list with numbers 1 to 5 and print it.
list = [1,2,3,4,5]
print(list)

[1, 2, 3, 4, 5]

In [53]:
# 7) Write a code to append the number 10 to the list [1, 2, 3, 4].
list1 = [1,2,3,4]
list1.append(10)
print(list1)

[1, 2, 3, 4, 10]

In [56]:
# 8) Write a code to remove the number 3 from the list [1, 2, 3, 4, 5].
list1 = [1, 2, 3, 4, 5]
list1.remove(3)
print(list1)

[1, 2, 4, 5]

In [61]:
# 9) Write a code to access the second element in the list ['a', 'b', 'c', 'd'].
list1 = ['a', 'b', 'c', 'd']
print(list1[1])

b

In [64]:
# 10) Write a code to reverse the list [10, 20, 30, 40, 50].
list2 = [10, 20, 30, 40, 50]
list2.reverse()
print(list2)

[50, 40, 30, 20, 10]

In [66]:
# 11)  Write a code to create a tuple with the elements 100, 200, 300 and print it
tuple1 = (100,200,300)
print(tuple1)

(100, 200, 300)

In [68]:
# 12) Write a code to access the second-to-last element of the tuple ('red', 'green', 'blue', 'yellow').
tuple2 = ('red', 'green', 'blue', 'yellow')
print(tuple2[-2])

blue

In [72]:
# 13) Write a code to find the minimum number in the tuple (10, 20, 5, 15).
tuple1 = (10, 20, 5, 15)
min_number = min(tuple1)
print(min_number)

5

In [74]:
# 14)  Write a code to find the index of the element "cat" in the tuple ('dog', 'cat', 'rabbit').
tuple1 = ('dog', 'cat', 'rabbit')
tuple1.index('cat')

1

In [80]:
# 15)  Write a code to create a tuple containing three different fruits and check if "kiwi" is in it.
tuple2 = ("apple", "kiwi", "orange")
"kiwi" in tuple2

True

In [82]:
# 16)  Write a code to create a set with the elements 'a', 'b', 'c' and print it.
set1 = {1,2,3,4}
print(set1)

{1, 2, 3, 4}

In [85]:
# 17)  Write a code to clear all elements from the set {1, 2, 3, 4, 5}.
set1 = {1, 2, 3, 4, 5}
set1.clear()
print(set1)

set()

In [87]:
# 18) Write a code to remove the element 4 from the set {1, 2, 3, 4}.
set2 = {1, 2, 3, 4}
set2.remove(4)
print(set2)

{1, 2, 3}

In [91]:
# 19)  Write a code to find the union of two sets {1, 2, 3} and {3, 4, 5}.
set1 = {1, 2, 3}
set2 = {3, 4, 5}
set1|set2

{1, 2, 3, 4, 5}

In [93]:
# 20) Write a code to find the intersection of two sets {1, 2, 3} and {2, 3, 4}.
set1 = {1, 2, 3}
set2 = {2, 3, 4}
set1&set2

{2, 3}

In [96]:
# 21) Write a code to create a dictionary with the keys "name", "age", and "city", and print it.
dict_1 = {"name":"Nishant", "age":21, "city":"Mumbai"}
print(dict_1)

{'name': 'Nishant', 'age': 21, 'city': 'Mumbai'}

In [100]:
# 22)  Write a code to add a new key-value pair "country": "USA" to the dictionary {'name': 'John', 'age': 25}.
dict_1 = {'name': 'John', 'age': 25}
dict_1["country"] = "USA"
print(dict_1)

{'name': 'John', 'age': 25, 'country': 'USA'}

In [106]:
# 23) Write a code to access the value associated with the key "name" in the dictionary {'name': 'Alice', 'age': 30}.
person = {'name': 'Alice', 'age': 30}
value = person['name']
print(value)

Alice

In [109]:
# 24) Write a code to remove the key "age" from the dictionary {'name': 'Bob', 'age': 22, 'city': 'New York'}.
dict_1 = {'name': 'Bob', 'age': 22, 'city': 'New York'}
del dict_1['age']
print(dict_1)

{'name': 'Bob', 'city': 'New York'}

In [121]:
# 25)  Write a code to check if the key "city" exists in the dictionary {'name': 'Alice', 'city': 'Paris'}.
dict_1 = {'name': 'Alice', 'city': 'Paris'}
if "city" in dict_1:
  print ("yes it exist")
else:
  print("unavailable")

yes it exist

In [123]:
# 26) Write a code to create a list, a tuple, and a dictionary, and print them all.

my_list = [1, 2, 3, 4, 5]

my_tuple = ('a', 'b', 'c')

my_dict = {'name': 'Alice', 'age': 25}

print("List:", my_list)
print("Tuple:", my_tuple)
print("Dictionary:", my_dict)

List: [1, 2, 3, 4, 5]
Tuple: ('a', 'b', 'c')
Dictionary: {'name': 'Alice', 'age': 25}

In [126]:
# 27) Write a code to create a list of 5 random numbers between 1 and 100, sort it in ascending order, and print the result.(replaced).

random_numbers = random.sample(range(1, 101), 5)

random_numbers.sort()

print("Sorted random numbers:", random_numbers)

Sorted random numbers: [5, 58, 59, 85, 98]

In [128]:
# 28)  Write a code to create a list with strings and print the element at the third index.
my_list = ["apple", "banana", "cherry", "date", "elderberry"]
print("Element at third index:", my_list[3])

Element at third index: date

In [130]:
# 29) Write a code to combine two dictionaries into one and print the result.
dict1 = {'name': 'Alice', 'age': 25}
dict2 = {'city': 'Paris', 'country': 'France'}

combined_dict = {**dict1, **dict2}

print("Combined dictionary:", combined_dict)

Combined dictionary: {'name': 'Alice', 'age': 25, 'city': 'Paris', 'country': 'France'}

In [131]:
# 30) Write a code to convert a list of strings into a set.
my_list = ["apple", "banana", "cherry", "apple", "date"]
my_set = set(my_list)

print("Converted set:", my_set)

Converted set: {'date', 'cherry', 'apple', 'banana'}